In [24]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [27]:
df = pd.read_csv('google-stock-dataset-Daily.csv', usecols=range(1,7))
df

            Date   Price    High     Low   Close     Volume
0     2013-04-15   19.67   19.94   19.44   19.57   98025876
1     2013-04-16   19.68   19.92   19.62   19.85   69610320
2     2013-04-17   19.69   19.79   19.47   19.58   81398520
3     2013-04-18   19.65   19.66   19.05   19.17  132767100
4     2013-04-19   19.25   20.11   19.18   20.02  231895872
...          ...     ...     ...     ...     ...        ...
2505  2023-03-27  104.62  104.76  101.93  102.46   31120900
2506  2023-03-28  102.44  102.45   99.74  101.03   32057900
2507  2023-03-29  102.28  102.49  100.65  101.39   28779600
2508  2023-03-30  100.91  101.16   99.78  100.89   33086200
2509  2023-03-31  101.30  103.89  101.04  103.73   36823200

[2510 rows x 6 columns]

In [28]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 2510 entries, 0 to 2509
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2510 non-null   str
 1   Price   2510 non-null   float64
 2   High    2510 non-null   float64
 3   Low     2510 non-null   float64
 4   Close   2510 non-null   float64
 5   Volume  2510 non-null   int64
dtypes: float64(4), int64(1), str(1)
memory usage: 117.8 KB

In [ ]:
df['data'] = pd.to_datetime(df['data'])